{% extends 'main/base.html' %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded" style="background-color: #ffffff;">


{% if user.is_authenticated %}
    <center>
    <h1>Update Your Venue here</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ form.as_p }}
            <br>
        <input type="submit" value="Update" class="btn btn-secondary">
        </form>
        {% else %}
<h1>Sorry! You Must Be Logged In To View This Page...</h1>

<a href="{% url 'login' %}">Login Here</a>

{% endif %}
    </center>
</div>
{% endblock %}